<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>这是一个下载测试页面</title>
</head>
<body>
    <div class="container">
        <button  class="btn btn-info" id="getFile">下载文件1--- 直接redirect 文件的形式</button>
    </div>
    <div class="container">
        <button class="btn btn-info" id="dlstream">下载文件2 ---  stream的方式</button>
    </div>
    <div class="container">
        <button class="btn btn-info" id="read_n_dl">下载文件3 ---  读取文件并以stream的方式</button>
    </div>
    <script src=""></script>    
</body>
</html>